<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="UTF-8">
  <title>STM archive</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

</head>

<body class="bg-light">
  <div class="container">
    <div class="row-col">
      {% include 'index.html' %}
    </div>

    <div class="accordion" id="archive_reports_panel">

      {% for archive_report in archive_reports reversed %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="archive_reports_panels-heading{{ forloop.counter }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#archive_reports_panels-collapse{{ forloop.counter }}" aria-expanded="true"
            aria-controls="archive_reports_panels-collapse{{ forloop.counter }}">
            Отчет за период: {{ archive_report.start_date|date:"d.m.Y" }} - {{ archive_report.end_date|date:"d.m.Y" }}
          </button>
        </h2>
        <div id="archive_reports_panels-collapse{{ forloop.counter }}" class="accordion-collapse collapse"
          aria-labelledby="archive_reports_panels-heading{{ forloop.counter }}">
          <div class="accordion-body">
            {% for category in categories %}
            <strong>{{ category }}</strong>
            <ul>
              {% for event in category.related_category_events.all %}
                {% if event.archive_report == archive_report %}
                  <li class="list-group-item">{{ event }}</li>
                {% endif %}
              {% endfor %}
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</body>

</html>