{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="UTF-8">
  <title>STM Home</title>
  
  <!-- Настройка viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
  <!-- Bootstrap JS + Popper JS -->
  <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>

<body class="bg-light">
  <div class="container">
    {% include 'index.html' %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
      <div class="col-3">
        <form action="{% url 'create_event' %}" method="post">
          {% csrf_token %}
          <div class="my-3">
            <label for="CategorySelect" class="form-label">Выберите категорию:</label>
            {{ event_form.category }}
          </div>          
          <div class="mb-3">
            <label for="DescriptionInput" class="form-label">Введите описание:</label>
            {{ event_form.description }}
          </div>
          <button class="btn btn-primary">Добавить</button>
        </form>
      </div>
      <div class="col-9">
        <div class="my-3">
          <label for="CurrentView" class="form-label">Текущие события</label>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
                  Инциденты
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <table class="table table-bordered table-hover align-middle">
                    <tbody>

                      {% if incedents %}
                      {% for item in incedents %}
                      <tr>
                        <td class="col-11">
                          {{ item.description }}
                        <td>
                          <div class="d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-outline-danger"
                              href="{% url 'delete_event' id=item.id %}">Удалить</button></a>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                      {% else %}
                      <div class="row align-items-center">
                        <em>События в представлении отсутствуют.</em>
                      </div>
                      {% endif %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseTwo">
                  Текущая активность
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <table class="table table-bordered table-hover align-middle">
                    <tbody>

                      {% if currents_activity %}
                      {% for item in currents_activity %}
                      <tr>
                        <td class="col-11">
                          {{ item.description }}
                        <td>
                          <div class="d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-outline-danger"
                              href="{% url 'delete_event' id=item.id %}">Удалить</button></a>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                      {% else %}
                      <table class="table table-bordered table-hover align-middle">
                        <em>События в представлении отсутствуют.</em>
                      </table>
                      {% endif %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseThree">
                  Выполненная активность
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  <table class="table table-bordered table-hover align-middle">
                    <tbody>

                      {% if completed_activity %}
                      {% for item in completed_activity %}
                      <tr>
                        <td class="col-11">
                          {{ item.description }}
                        <td>
                          <div class="d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-outline-danger"
                              href="{% url 'delete_event' id=item.id %}">Удалить</button></a>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                      {% else %}
                      <table class="table table-bordered table-hover align-middle">
                        <em>События в представлении отсутствуют.</em>
                      </table>
                      {% endif %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headinFour">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseFour">
                  События по персоналу
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                  <table class="table table-bordered table-hover align-middle">
                    <tbody>

                      {% if hr_events %}
                      {% for item in hr_events %}
                      <tr>
                        <td class="col-11">
                          {{ item.description }}
                        <td>
                          <div class="d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-outline-danger"
                              href="{% url 'delete_event' id=item.id %}">Удалить</button></a>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                      {% else %}
                      <table class="table table-bordered table-hover align-middle">
                        <em>События в представлении отсутствуют.</em>
                      </table>
                      {% endif %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="d-md-flex mb-3 justify-content-md-end">
            <form action="{% url 'create_report' %}" method="post">
              {% csrf_token %}
              <div class="input-group">
                <span class="input-group-text">Интервал отчета для добавления событий:</span>
                {{ report_form.start_date }}
                {{ report_form.end_date }}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Сохранить
                </button>
              </div>
          </div>

          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Подтверждение</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Добавить события в отчет?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                  <input type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                </div>
              </div>
            </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
