{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="UTF-8">
  <title>STM Home</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

</head>

{% if user.is_authenticated %}
<body class="bg-light">
  <div class="container">
    {% include 'index.html' %}
    <div class="row">
      <div class="col-3">
        <form action="{% url 'create_event' %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label mt-3">Выберите категорию:</label>
            {{ form.category }}
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Введите описание:</label>
            {{ form.description }}
          </div>
          <button class="btn btn-primary">Добавить</button>
        </form>
      </div>
      <div class="col-9">
        <div class="my-3">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
                  Инциденты
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <table class="table table-bordered table-hover align-middle">
                    <tbody>

                      {% if incedents %}
                        {% for item in incedents %}
                        <tr>
                          <td class="col-11">
                            {{ item.description }}
                          <td>
                            <div class="d-md-flex justify-content-md-end">
                              <a type="button" class="btn btn-outline-danger"
                                href="{% url 'delete_event' id=item.id %}">Удалить</button></a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      {% else %}
                      <div class="row align-items-center">
                        <em>События в представлении отсутствуют.</em>
                      </div>
                      {% endif %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseTwo">
                  Текущая активность
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <table class="table table-bordered table-hover align-middle">
                    <tbody>

                      {% if currents_activity %}
                        {% for item in currents_activity %}
                        <tr>
                          <td class="col-11">
                            {{ item.description }}
                          <td>
                            <div class="d-md-flex justify-content-md-end">
                              <a type="button" class="btn btn-outline-danger"
                                href="{% url 'delete_event' id=item.id %}">Удалить</button></a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      {% else %}
                        <table class="table table-bordered table-hover align-middle">
                          <em>События в представлении отсутствуют.</em>
                        </table>
                      {% endif %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseThree">
                  Выполненная активность
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  <table class="table table-bordered table-hover align-middle">
                    <tbody>

                      {% if completed_activity %}
                        {% for item in completed_activity %}
                        <tr>
                          <td class="col-11">
                            {{ item.description }}
                          <td>
                            <div class="d-md-flex justify-content-md-end">
                              <a type="button" class="btn btn-outline-danger"
                                href="{% url 'delete_event' id=item.id %}">Удалить</button></a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      {% else %}
                        <table class="table table-bordered table-hover align-middle">
                          <em>События в представлении отсутствуют.</em>
                        </table>
                      {% endif %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headinFour">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseFour">
                  События по персоналу
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                  <table class="table table-bordered table-hover align-middle">
                    <tbody>

                      {% if hr_events %}
                        {% for item in hr_events %}
                        <tr>
                          <td class="col-11">
                            {{ item.description }}
                          <td>
                            <div class="d-md-flex justify-content-md-end">
                              <a type="button" class="btn btn-outline-danger"
                                href="{% url 'delete_event' id=item.id %}">Удалить</button></a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      {% else %}
                        <table class="table table-bordered table-hover align-middle">
                          <em>События в представлении отсутствуют.</em>
                        </table>
                      {% endif %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="d-md-flex justify-content-md-end">
            <form action="{% url 'create_report' %}" method="post">
              {% csrf_token %}
              <div class="input-group">
                <span class="input-group-text">Интервал для отчета:</span>
                {{ report_form.start_date }}
                {{ report_form.end_date }}
                <input type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              </div>
            </form>
          </div>

          {# comment #}
          <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Подтверждение</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Сформировать и отправить отчет?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                  <button type="button" class="btn btn-primary">Ок</button>
                </div>
              </div>
            </div>
          </div> -->
          {# endcomment #}

        </div>
      </div>
    </div>
  </div>
</body>
{% endif %}

</html>